body {
    height: 100vh;  /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    margin: 0;      /* Elimina cualquier margen predeterminado */
    background: linear-gradient(to bottom, 
      #110028,  /* Color en la parte superior */
      #07000f   /* Color en la parte inferior */
    );
    color: #fff; /* Texto claro */
    font-family: 'Onest', sans-serif;
}

body.light-mode {
    background-color: #f5f5f5; /* Fondo claro para el modo claro */
    color: #000; /* Texto oscuro */
}

#cabecera{
    border-radius: 15%;
    border: 2px;
    border-color: #39ff14;
}

#Inicio{
    margin-top: 5%;
}

#perfil {
    width: 50px;
    height: auto;
}

#Hey{
    margin-top: 3%;
}

#botonDisponible {
    margin-left: 3%;
    border: 2px solid #39ff14; /* Color verde neón */
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 0 10px #39ff14, 0 0 40px #39ff14, 0 0 80px #39ff14;
    transition: all 0.3s ease-in-out;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px #39ff14, 0 0 40px #39ff14, 0 0 80px #39ff14;
    }
    50% {
        box-shadow: 0 0 20px #39ff14, 0 0 60px #39ff14, 0 0 120px #39ff14;
    }
    100% {
        box-shadow: 0 0 10px #39ff14, 0 0 40px #39ff14, 0 0 80px #39ff14;
    }
}

#Bio{
    margin-top: 5%;
}